<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="/">
                  MissingLinks
              </a>
          </li>
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/listA">Available Items</a>
          </li>
          <li>
              <a href="/listW">Wanted Items</a>
          </li>
          <li>
              <a href="/post">Post or Request an Item</a>
          </li>
          <li class="disabled" aria-disabled="true">
              <a href="#">Donate</a>
          </li>
          <li class="disabled" aria-disabled="true">
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>

  <main id="page-content-wrapper" class="postPg">
    <div class="container-fluid">
      <header>
        <p class="itemHeader"><span style="font-size: 40px">M</span>ISSING <span style="font-size: 40px">L</span>INKS</p>
        <!-- <hr id="undLine" style="height:30px"> -->
      </header>

      <div class="row" id="subHeader">

        <div class="col-xs-10 col-xs-offset-2" id="postCol">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1" id="introDiv">
              <h2>
                Something for Everyone!
              </h2>
              <h3>
                What do you need?   What do you have?
              </h3>
              <h3> <!-- {{this.longDescription}} -->
                Welcome to Missing Links!   This is the place where you can find whatever you are missing to complete a set.   Could be an earring, a glove, a shoe, you name it.   We bring together people who are seeking items with those who have them to offer.   Click on any of the buttons on the left-hand side-bar to get started!
              </h3>

            </div>
          </div>

        </div> <!-- end postCol -->

      </div> <!-- end subheader row -->

    </div>
  </main>
</div>
