<div id="wrapper">
      <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="/">
                  MissingLinks
              </a>
          </li>
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/listA">Available Items</a>
          </li>
          <li>
              <a href="/listW">Wanted Items</a>
          </li>
          <li>
              <a href="/post">Post or Request an Item</a>
          </li>
          <li class="disabled" aria-disabled="true">
              <a href="#">Donate</a>
          </li>
          <li class="disabled" aria-disabled="true">
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>

  <main id="page-content-wrapper" class="listPg">
    <div class="container-fluid">
      <header>
        <p class="listHeader"><span style="font-size: 40px">M</span>ISSING <span style="font-size: 40px">L</span>INKS</p>
        <!-- <hr id="undLine" style="height:30px"> -->
      </header>

      <div class="row">

        <div class="col-xs-12 ">

          <div class="col-xs-10">
              <div id="itemListDiv">
                  <h2 class="heading">Current Inventory</h2>
                  <ul>
                    {{#each Available}}
                      {{#unless this.sold}}
                        <li>
                          <div class="row">
                            <div class="col-xs-3">
                              <img src="
                              {{this.mainPic}}">
                            </div>
                            <div clss="col-xs-9">
                              <div class="col-xs-12">
                                <p class="itemPriceP">{{this.price}}</p>
                              </div>
                              <div class="col-xs-10 offset-xs-1">
                                <p class="itemshortDescriptionP">{{this.shortDescription}}</p>
                              </div>
                              <div class="col-xs-12">
                                <form action="itemA/{{this.id}}?_method=GET" method="GET">
                                  <button class="btn btn-primary btn-lg priceB listBtn" type="submit">More Info</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </li>
                      {{/unless}}
                    {{/each}}
                  </ul>
              </div>
          </div> <!-- end container for item results -->
        </div>
      </div>

    </div>
  </main>
</div>
