body {
/*    overflow-x: hidden;*/
    height: 100%;
 }
 html, body, main {
    height: 100%;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #D3FFE6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    background-color: #D3FFE6;
    height: 100%;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-right: 45px;
    height: 100%;
}
#subHeader {
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    height: 100%;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #D3FFE6;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #697F73;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #D3FFE6;
    background: #6CCC94;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 25px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #697F73;
    font-family: 'Courgette', cursive;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #6CCC94;
    background: none;
}

header {
    font-family: 'Courgette', cursive;
    font-size: 73px;
    background-color: #fff;
    padding-left: 12%;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 5%;
    letter-spacing: 3px;
}

#undLine {
    height: 20px;
}

/*  Landing PAge  */
.landingPg {
    background: #92dec8;
    background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
    background-repeat: repeat-x, repeat;
    height: 100%;
}
#subHeader {
}

#introDiv{
    background-color: #D3FFE6;
    font-family: 'Yantramanav', sans-serif;
    border-radius: 15px;
    padding: 5%;
}
#introDiv > h2 {

}
#introDiv > h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}
#introDiv > p {

}


/*  Item Page Styling  */
.itemPg {
    background: #7d8985;
    background-image: url("../img/zenbg-3.png"), url("../img/zenbg-4.png");
    background-repeat: repeat-x, repeat;
    height: 100%;
}
.itemHeader {
    font-size: 33px;
}
#jumbo {
    margin-right: 15%;
    background-color: #D3FFE6;
    font-family: 'Yantramanav', sans-serif;
    padding: 2%;
}

#itemNameH, #posterNameH, #longDescriptionP {
    background-color: #fff;
    border-radius: 10px;
    padding: 2%;
    border: 1px solid #697F73;
}
#itemNameH {

}

#posterNameH {
    margin-top: 3%;
    margin-bottom: 3%;
}

#longDescriptionP {
    margin-bottom: 3%;
}

#mainPicDiv {
    border: solid 2px #D3FFE6;
    border-radius: 15px;
    height: 180px;
    width: 180px;
    margin-left: 15%;
}
#pic2Div {
    margin-left: 15%;
}

#pic3Div {
    margin-left: 4%;
    margin-right: 4%;
}
#pic2Div, #pic3Div, #pic4Div {
    border: solid 2px #D3FFE6;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.priceB {
    margin-left: 6%;
}
#purchase {
    background-color: #697F73;
   /* background-color: #58CCCA;*/
}

/*  List Page  */
.listPg {
    background: #7d8985;
    background-image: url("../img/zenbg-3.png"), url("../img/zenbg-4.png");
    background-repeat: repeat-x, repeat;
    height: 100%;
}
.listHeader {
    font-size: 33px;
}
#itemListDiv {
    font-family: 'Yantramanav', sans-serif;
    background: #D3FFFF;
    border-radius: 10px;
    padding: 2%;
}
.listBtn {

}



/*  Post Page  */
.postPg {
    background: #7d8985;
    background-image: url("../img/zenbg-3.png"), url("../img/zenbg-4.png");
    background-repeat: repeat-x, repeat;
    height: 100%;
}
#postCol {
}


/*  Media Queries  */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
