body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #87FFB9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    background-color: #87FFB9;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-right: 45px;
  /*  background-image: url('../img/natBack1.jpg'); */
    background-image: url('../img/ray_troll.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#subHeader {
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #87FFB9;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #000000;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #D3FFE6;
    background: #6CCC94;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 25px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000000;
    font-family: 'Courgette', cursive;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #6CCC94;
    background: none;
}

header {
    font-family: 'Courgette', cursive;
    font-size: 85px;
    background-color: #fff;
    padding-left: 15%;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 5%;
}

#undLine {
    height: 20px;
}


/*  Item Page Styling  */
#jumbo {
    margin-right: 15%;
    background-color: #D3FFE6;
    font-family: 'Yantramanav', sans-serif;
}

#itemNameH, #posterNameH, #longDescriptionP {
    background-color: #fff;
    border-radius: 10px;
    padding: 2%;
}
#itemNameH {

}

#posterNameH {
    margin-top: 3%;
    margin-bottom: 3%;
}

#longDescriptionP {
    margin-bottom: 3%;
}

#mainPicDiv {
    border: solid 2px #87FFB9;
    border-radius: 15px;
    height: 180px;
    width: 180px;
}

#pic3Div {
    margin-left: 4%;
    margin-right: 4%;
}
#pic2Div, #pic3Div, #pic4Div {
    border: solid 2px #87FFB9;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    margin-top: 4%;
    margin-bottom: 4%;
}

#purchase {
    margin: auto;
    background-color: #58CCCA;
}


/*  Media Queries  */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
